{
  "telegram": {
    "token": "INSERT TOKEN HERE"
  },
  "slack": {
    "token": "INSERT TOKEN HERE",
    "botname": "janusbankbot"
  },
  "wit": {
    "token": "INSERT TOKEN HERE"
  },
  "figo": {
    "token": "INSERT TOKEN HERE",
    "client_id": "INSERT CLIENT ID HERE",
    "secret": "INSERT SECRET HERE"
  }
  "debug": false
}
